@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:  center;
    width: 100%;
    padding-top: 100px;
}
.filtros {
    display: flex;
    width: 100%;
    justify-content: center;
}
.filtros select{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    margin: 0 5px;
    border: none;
    color: #000000;
    background-color: #ffffff;
    padding: 7px;
    border-radius: 2px;
    cursor: pointer;
}

.filtros button{
    color: #ffffff;
    font-weight: 400;
    font-size: 14pt;
}

@media (max-width: 768px) {
    .container {
        padding-top: 150px;
        
    }
  
    .filtros select {
      max-width: none; /* Restaurar ancho máximo */
    }
  }