@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:  center;
    width: 100%;
    padding-top: 160px;
}

.active-filter {
    background-color: #46914c; /* Cambia esto por el color que prefieras */
    font-weight: bold;
  }

.filterBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    }

.filterDiet {
    width: 250px;
    margin:   15px 0 15px 0;}

    .filterDiet select{
        width: 220px;
        font-size: 18px;
    }


.filterBar select{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    column-gap: 10px;
    margin: 0 15px;
    border: none;
    color: #000000;
    background-color: #ffffff;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); 
}

.filterBar button{
    color: #ffffff;
    background-color: #EE6352;
    width: 60px;
    height: 60px;
    font-weight: 400;
    font-size: 11pt;
    padding: 2px;
    
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); 
}

.filterSelect1 {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 160px;
  margin: 5px;
  }

  .filterSelect2 {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 160px;
    margin: 5px ;
    }
  
  .filterSelect1 label {
    position: relative;
    margin-left: 16px;
    font-size: 14px;
    background-color: #57A773;
    color: #ffffff;
    padding: 2px 5px; 
    border-radius: 5px; 
    display: inline-block; 
  }

  .filterSelect2 label {
    position: relative;
    margin-left: 16px;
    font-size: 14px;
    background-color: #484D6D;
    color: #ffffff;
    padding: 2px 5px; 
    border-radius: 5px; 
    display: inline-block; 
  }
  
  

@media (max-width: 768px) {
    .container {
        padding-top: 150px;
        width: auto;
        justify-content: center;
        align-content: center;
        
    }
  
    .filterBar  {
      max-width: 500px;
      flex-wrap: wrap;
      display: flex;
    }

    .filterSelect1, .filterSelect2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        margin: 5px 0 5px 0 ;
        }

        .filterSelect1 label, .filterSelect2 label{
                       
            align-items: center;
            margin: 0;           
            }

       
  }