@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:  center;
    width: 100%;
    
    padding: 0px;
    padding-top: 130px;
}


.filterBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 5px;
    }

 
      
.filterBar select{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    column-gap: 10px;
    margin: 0 15px;
    border: none;
    color: #000000;
    background-color: #ffffff;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    
}


.filterReset {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.filterReset button{
    color: #ffff;
    background-color: #EE6352;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-weight: 400;
    font-size: 10pt;
    padding: 2px;
    box-shadow: 0 0 10px rgba(61, 60, 60, 0.5); 
}


  
  .filterSelect1 label {
    position: relative;
    font-size: 14px;
    background-color: #57A773;
    color: #ffffff;
    padding: 2px 5px; 
    border-radius: 5px; 
    display: inline-block; 
  }

  .filterSelect2 label {
    position: relative;
    font-size: 14px;
    background-color: #484D6D;
    color: #ffffff;
    padding: 2px 5px; 
    border-radius: 5px; 
    display: inline-block; 
  }
  
  

@media (max-width: 768px) {
    .container {
        padding-top: 150px;
        width: auto;
        justify-content: center;
        align-content: center;
        
    }
  
    .filterBar  {
      max-width: 500px;
      flex-wrap: wrap;
      display: flex;
    }

    .filterSelect1, .filterSelect2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        margin: 5px 0 5px 0 ;
        }

        .filterSelect1 label, .filterSelect2 label{
                       
            align-items: center;
            margin: 0;           
            }

       
  }