.filterDiet {
    width: 250px;
    margin:   15px 0 15px 0;
    display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  background-color: #ffff; 
  border-radius: 10px;
  padding: 5px; 
  }

    .filterDiet select{
        width: 220px;
        font-size: 18px;
    }


    .filterDiet p {
      margin: 0; /* Elimina el margen predeterminado del párrafo */
      flex-grow: 1; /* Hace que el párrafo ocupe todo el espacio restante */
      font-size: 18px;
      
    }
    
    .filterDiet button {
      margin-left: 10px; /* Agrega un espacio entre el párrafo y el botón */
      width: 20px;
    height: 20px;
    color: #000000;
    background-color: white;
    }