.loading-animation {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  width: 200px;
  font-size: 1.5rem;
  margin-top: 10vh; 
  margin-bottom: 10vh;
}

  @media (prefers-reduced-motion: no-preference) {
    .loading-animation {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }