.paginado{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 30px;
    z-index: 1;
    margin-bottom: 20px;
}

.paginado ul{
    padding: 0;
    margin: 10px 0 0 0 ;
}

.paginado li{
    list-style: none;
    float: left;
    cursor: pointer;
    z-index: 0;
    
}

.paginado li a{
    padding: 5px;
    font-weight: 700;
}

.paginado li a:hover{
    color: black;
}

.paginado button{
   
 
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;}


.active {
    color: #fff;
    background-color: #484D6D;      
}

.paginado .flecha {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: black;
    font-size: 18px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }