.buscador{
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  font-size: 16pt;
  }
.buscador a{
    color: #ffffff;
    font-size: 14pt;
    font-weight: 800;
    margin: 0 30 0 50px;
}

.buscador form {
  margin: 0 30px;
}

.buscador input{
    font-weight: 100;
    border: none;
    border-radius: 40px;
    background: #e8e8e8;
    padding: 10px 10px;
    margin-right: 10px;
    font-size: 12pt;
    }

.buscar{
    color: #ffffff;
    font-weight: 500;
    font-size: 16pt;
}

.recipeCreate{
  display: inline-block;
  padding: 10px 20px;
  background-color: #57A773; /* Cambia el color de fondo según tus preferencias */
  text-decoration: none;
  border: none;
  border-radius: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 0px 0 120px;
    }

.recipeCreate:hover{
    opacity: 0.8;
    cursor:pointer;
}

.logo{float: left;
  position: relative;
  padding:  0 50px 5px 0;
}
.logo:hover{opacity: 0.8;}

.topLabel.hidden{
top: -135px;
}

.alert {
    background-color: #EE6352;
    display: flex;
    align-items: center;
    border: 1px solid #EE6352;
    color: #000000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    position: fixed;
    top: 45px;
    
  }
  
  .alert-message {
    margin-right: 10px;
    font-size: 10pt;
  }
  
  .alert-close {
    background-color: #EE6352;
    color: #fff;
    border: none;
    border-radius: 100%;
    width: 0;
    height: 35px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 1000px
    ;
  }
  

  /* Para pantallas más pequeñas */
@media (max-width: 768px) {
    .buscador a{
    justify-items: center; 
      font-size: 11pt; 
    
    }

    .buscadorLupa {
      margin: 18px ;
      width: 100%;
    }

    .buscador {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-items: center; 
      padding: 0px;
      margin-top: 10px;
      width: 100%;
      height: 120px;
      }
  
    .recipeCreate  a{
      margin: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
      padding-top: 10px;
      }
      .recipeCreate  {
        margin: 0;
        }

       .alert {
      right: 60px; /* Ajusta la posición de la alerta en pantallas pequeñas */
    }

    .buscar button{
        color: #ffffff;
        font-weight: 100;
        font-size: 10pt;
    }
    .logo img{
      width: 100px;
      margin: 0px;
     }

     .logo a{
      margin: 0px;
     }
  }
  