.buscador{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
    }

.buscador a{
    color: #ffffff;
    font-size: 14pt;
    font-weight: 800;
    margin: 0 0 0 10px;
}

.buscador form {
  margin: 0 40px;
  background-color: #ffffff;
  border-radius: 30px;
}

.buscador input{
    font-weight: 100;
    border: none;
    border-radius: 90px;
    padding: 10px 10px;
    margin-right: 10px;
    font-size: 12pt;
    }

.buscar button{
    font-weight: 500;
    font-size: 16pt;
}

.recipeCreate{
  display: block;
  padding: 10px 20px;
  background-color: #57A773; 
  text-decoration: none;
  border: none;
  border-radius: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0;
    }

.recipeCreate:hover{
    opacity: 0.8;
    cursor:pointer;
}

.logo{float: left;
  position: relative;
  padding:  10px 155px 10px 25px;
  margin: 10px;
}
.logo:hover{opacity: 0.8;}

.topLabel.hidden{
top: -135px;
}

.alert {
    background-color: white;
    display: flex;
    align-items: center;
    border: 5px solid #EE6352;
    color: #000000;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 30px;
    position: fixed;
    top: 30px;
    right:10%;
    z-index: 9999; 
  }
  
  .alert-message {
    margin-right: 10px;
    font-size: 10pt;
  }
  
  .alert-close {
    background-color: #EE6352;
    color: #fff;
    border: none;
    border-radius: 100%;
    width: 0;
    height: 35px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 1000px
    ;
  }
  

  /* Para pantallas m치s peque침as */
@media (max-width: 768px) {

  .buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
      }

    .buscador a{
    justify-items: start; 
      font-size: 11pt; 
    
    }

    .buscadorLupa {
      margin: 18px ;
      width: 400px;
    }

    .buscador {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-items: start; 
      padding: 0px;
      margin-top: 10px;
      height: 120px;
      width: 410px;
      }
  
     
      .recipeCreate {
        display: block;
        margin-right: 40px;
          }

       .alert {
        left: 50px;
        right: 50px;
       top: 87px ;/* Ajusta la posici칩n de la alerta en pantallas peque침as */
       
       }

    .buscar button{
        color: #ffffff;
        font-weight: 100px;
        font-size: 10pt;
    }
    .logo img {
      width: 130px;
      display: block;
    }
    

     .logo{
      padding:  0 0px 0px 0px;
      margin: 0px;
    }
  }
  